body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.pokedex {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.pokedex img {
    width: 150px;
    height: 150px;
}

.pokedex h2 {
    font-size: 24px;
}

.pokedex p {
    font-size: 16px;
    margin: 5px 0;
}

.pokedex input {
    padding: 5px;
    font-size: 14px;
    margin: 5px;
    width: 80%;
}

.pokedex button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.pokedex button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.arrow-buttons {
    cursor: pointer;
    font-size: 30px;
    color: #007bff;
    margin-top: 10px;
}